/*
* DEFAULTS
*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Trebuchet, Arial, sans-serif;
  font-size: 15px;
}
* ul,
* ol {
  list-style: none;
}
* a {
  text-decoration: none;
}
/*
* Mixins
*/
/* CLEARFIXES */
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.clearboth {
  clear: both;
}
/* Font Stack */
body {
  background: #f2dc99;
  color: #333;
}
#wrap {
  width: 320px;
  background: #fff;
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333;
}
#wrap footer {
  color: #666;
  clear: left;
  margin-top: 100px;
  padding: 10px 25px;
}
#wrap footer p {
  font-size: 12px;
}
#wrap footer p a {
  font-size: inherit;
  color: #666;
  text-decoration: underline;
}
#panel-container {
  width: 100%;
  overflow: hidden;
}
#panel-container #panel-slider {
  position: relative;
  width: 210%;
}
#panel-container #panel-slider .clearleft {
  clear: left;
}
#panel-container #panel-slider .panel {
  padding: 5px;
  width: 315px;
  float: left;
  margin: 0px;
}
#panel-container #panel-slider #playerDetail {
  font-size: 18px;
}
#panel-container #panel-slider #playerDetail header {
  margin-bottom: 15px;
}
#panel-container #panel-slider #playerDetail header .name {
  color: #bf1f1f;
  font-size: 24px;
  text-transform: uppercase;
}
#panel-container #panel-slider #playerDetail header .score {
  color: #666;
  font-size: 16px;
}
#panel-container #panel-slider #playerDetail #new-score {
  margin-bottom: 25px;
}
#panel-container #panel-slider #playerDetail #new-score h4 {
  margin: 15px 0px 5px;
}
#panel-container #panel-slider #playerDetail #new-score p {
  padding: 0px;
}
#panel-container #panel-slider #playerDetail #new-score #new-score-btn {
  background-color: #bf1f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf1f1f), to(#931818));
  background: -webkit-linear-gradient(top, #bf1f1f, #931818);
  background: -moz-linear-gradient(top, #bf1f1f, #931818);
  background: -ms-linear-gradient(top, #bf1f1f, #931818);
  background: -o-linear-gradient(top, #bf1f1f, #931818);
  padding: 5px 20px;
  color: #fff;
  border: none;
  font-size: 12px;
  margin-top: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}
#panel-container #panel-slider #playerDetail #new-score input#hole,
#panel-container #panel-slider #playerDetail #new-score input#score {
  width: 20px;
}
#panel-container #panel-slider #playerDetail ul.scores {
  list-style-type: none;
  margin-left: 15px;
}
#panel-container #panel-slider #playerDetail ul.scores .score {
  color: DarkRed;
  font-weight: bold;
}
#panel-container #panel-slider #playerDetail input[type=text] {
  width: 50px;
}
#panel-container #panel-slider #playerDetail button#leaderboards-link {
  font-size: 10px;
  padding: 5px;
}
#panel-container #panel-slider #leaderboards h2 {
  font-size: 24px;
}
#panel-container #panel-slider #leaderboards ul {
  list-style-type: none;
}
#panel-container #panel-slider #leaderboards ul li {
  margin: 5px 0px;
}
#panel-container #panel-slider #leaderboards ul li a {
  text-decoration: none;
}
#panel-container #panel-slider #leaderboards a.name {
  color: #666;
  font-size: 14px;
  margin-right: 10px;
}
#panel-container #panel-slider #leaderboards .score {
  color: DarkRed;
  font-weight: bold;
}
#panel-container #panel-slider #leaderboards #newplayer {
  margin: 10px 0px;
}
